<h1>Library</h1>

<% if @library_games.exists? %>
    <div class="container">
      <%= render @library_games, game: @game %>
    </div>
  <% else %>
  <div class="container">
    <div class="message-body">You haven't added any games to your library yet. <%= link_to 'Add some', root_path %>.</div>
  </div>
  <% end %>
